// @import "cssreset";
@import "foundationsettings";
@import "foundation";


/*  ==================================================
    Global Style Variables
    ==================================================  */

$bodyFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontBold: 700;
$fontReg: 400;
$fontLight: 300;

$primaryColor: #4aa9db; /* Cyan blue */
$secondaryColor: #09064d; /* Dark blue */
$primaryTextColor: #414042; /* Dark gray */
$secondaryTextColor: #979797; /* Med gray */
$fieldColor: #f7f7f7; /* Light gray */
$successColor: #6ac20a; /* Bright green */
$errorColor: #d0021b; /* Bright red */
$black: #000;
$white: #fff;



/*  ==================================================
    Typography
    ==================================================  */

body {
    font: $bodyFontFamily;
}

h1 {
    font-weight: $fontBold;
}

h2 {
    font-weight: $fontReg;
}

h3 {
    font-weight: $fontReg;
}

label {
    font-weight: $fontLight;
    color: $secondaryColor;
}



/*  ==================================================
    Colors
    ==================================================  */

.colorBox {
    padding: 1rem;
    margin: 0.5rem;
    color: $white;
}

.primaryColor {
    background: $primaryColor;
}

.secondaryColor {
    background: $secondaryColor;
}

.primaryTextColor {
    background: $primaryTextColor;
}

.secondaryTextColor {
    background: $secondaryTextColor;
}

.fieldColor {
    background: $fieldColor;
    color: $black;
}

.successColor{
    background: $successColor;
}

.errorColor {
    background: $errorColor;
}



/*  ==================================================
    Forms, Radios and Checkboxes
    ==================================================  */

select, input[type="text"], .prefix  {
    background: $fieldColor;
    outline: none;
    border: none;
    box-shadow: none;
    color: $primaryTextColor;
}

select, input[type="text"], .prefix {
    height: 3.5rem;
}

select {
    border: 1px solid $secondaryColor;
    background: url("../img/arrow_down_dkblue.svg") no-repeat 97.5% 50% $fieldColor;
    background-size: 1.25rem auto;
}

select:active,
select:hover,
select:focus,
input:active,
input:hover,
input:focus {
    border: 1px solid $primaryColor;
    transition: none;
    box-shadow: none;
}

input[type="text"]:focus {
    border: 1px solid $primaryColor;
}

span.custom {
    vertical-align: top;
    margin-bottom: 2.5%;
}

/*Radio buttons and checkboxes need work */
span.custom.radio {
    display: inline-block;
    background: $fieldColor;
    border: 1px solid $secondaryTextColor;
    border-radius: 30px;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;

    &.on {
        background: $secondaryColor;
    }
}

span.custom.checkbox {
    display: inline-block;
    background: $fieldColor;
    border: 1px solid $secondaryTextColor;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;

    &.on {
        background: url("../img/checkboxblue.svg") no-repeat 50% 50% $fieldColor;
        background-size: 1rem auto;
    }
}

.inlinelabel {
    line-height: 2rem;
}

/* There is likely a better way to do this placeholder styling */
::-webkit-input-placeholder {
    color: $secondaryTextColor;
}

::-moz-placeholder {
    color: $secondaryTextColor;
}

:-ms-input-placeholder {
    color: $secondaryTextColor;
}

input[type="radio"] {
    background: red;
}

/*  ==================================================
    Validation
    ==================================================  */

.validation {
    p {
        font-weight: $fontBold;
    }
}
input.success,
input.success:hover,
input.success:active,
input.success:focus {
    background: url("../img/successCheck.svg") no-repeat 97.5% 50% $fieldColor;
    background-size: 1.25rem auto;
    border: 1px solid $successColor;
}

input.error,
input.error:hover,
input.error:active,
input.error:focus {
    background: url("../img/errorX.svg") no-repeat 97.5% 50% $fieldColor;
    background-size: 1.25rem auto;
}

input.error,
input.error:hover,
input.error:active,
.submitError {
    border: 1px solid $errorColor;
}

input.error:focus {
    border: 1px solid $fieldColor;
}

small.error, small.help {
    @extend label;
    font-weight: $fontReg;
    font-style: normal;
    background: transparent;
    color: $black;
}

small.help {
    padding: 0.375rem 0.5625rem 0.5625rem 0.5625rem;
}



/*  ==================================================
    Buttons and Links
    ==================================================  */

.small.round.button {
    display: table;
    margin: 0.5rem auto;
    padding: 0.5rem 2rem;
    width: 95%;
    background: url("../img/arrow_right_blue.svg") no-repeat 95% 50% $white;
    background-size: 1rem;
    border: 3px solid $primaryColor;

    p {
        color: $primaryColor;
        text-align: center;
        margin: inherit;
    }
}


/*
Hover style reverses the colors - ignore background color in implementation
Needs to be corrected to not use inline-flex (not supported in Safari)
*/

.small.round.button:hover,
.small.round.button:focus {
    background: $primaryColor;
    border: 3px solid $white;

    p {
        color: $white;
    }
}

.funnelCTA {
    background: $primaryColor;
    width: 100%;
    height: auto;
    display: inline-flex;

    .button {
        margin: 0;
        padding: 1.5rem;
        font-weight: $fontBold;
        font-size: 1.5rem;
    }

    .back {
        background: url("../img/arrow_left_white.svg") no-repeat 50% 50%;
        background-size: 1rem auto;
        width: 24%;
        border-right: 5px solid $white;
    }

    .forward {
        background: url("../img/arrow_right_white.svg") no-repeat 90% 50%;;
        background-size: 1rem auto;
        width: 75%;
    }
}

.link {
    text-decoration: underline;
    color: $secondaryColor;

        &:hover,
        &:focus,
        &:active {
            color: $primaryColor;
        }
}


/*  ==================================================
    Icons
    ==================================================  */

.icons {
    .panel {
        text-align: center;
    }
    img {
        height: 2rem;
    }
}


/*  ==================================================
    Specific Styles for the Style Guide page only
    ==================================================  */

body {
    background-color: $primaryColor;
}

.mainsection {
    background-color: $white;
    padding: 2rem;
}

.masterside-nav {
    background: $primaryColor;

    & h1 {
        color: $white;
        padding: 0.5rem;
    }
}

.side-nav {
    background: $primaryColor;
    padding: 0.5rem;
}

.side-nav h1 {
    color: $white;
}

.side-nav li a:not(.button),
.side-nav li a:not(.button):hover,
.side-nav li a:not(.button):focus {
    color: $white;
}

.sectionTitle {
    font-weight: bold;
    text-transform: uppercase;
    color: $secondaryTextColor;
}

.contrastBg {
    background: $primaryColor;
}
